<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IT_Inventory_Project</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

      <div class="nav-item px-3">
            <NavLink class="nav-link" href="addProductForm" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Add
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="piegraph" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pie Graph
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bargraph" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Bar Graph
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chartJSPieGraph" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ChartJS Pie Graph
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chartJSBarGraph" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ChartJS Bar Graph
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
