.container {
    padding: 0px;
}

    .container > h6 {
        font-size: 13px;
        font-family: monospace;
    }

.buttonTable {
    display: inline-flex;
    justify-content: flex-end;
    width:100%;
}

.table-primary > tr > th {
    background-color: #240799;
    color: white;
    text-align: center;
}

.iconContainer {
    display: flex;
    width: 100%;
}

#iconsID {
    display: flex;
}

    #iconsID > button,a {
        margin: 1px;
        border-radius: 6px;
        border:1px solid gray;
    }

        #iconsID > button>i {
            font-size:9px;
        }

        .max-width-table {
            max-width: 100%;
        }

#iconsID > #viewBtn {
    background-color:lawngreen;
}

#iconsID > #editBtn {
    background-color:yellow;
}

#iconsID > #deleteBtn {
    background-color: orangered;
    color: white;
}

#iconsID > #viewBtn:hover {
    transform: scale(1.1);
    background-color: #29b8e7;
    color: white;
    box-shadow: 1.5px 1px 0px 0.3px #908585;
}

#iconsID > #editBtn:hover {
    transform: scale(1.1);
    background-color: #29b8e7;
    color: white;
    box-shadow: 1.5px 1px 0px 0.3px #908585;
}

#iconsID > #deleteBtn:hover {
    transform: scale(1.1);
    background-color: #29b8e7;
    color: white;
    box-shadow: 1.5px 1px 0px 0.3px #908585;
}


.table-responsive {
    margin-top: 0.6em;
}

#addFormBtn {
    border: 1px solid gray;
    border-radius: 4px;
    background-image: linear-gradient(44deg, #00ff9d, #565bd2);
}
    #addFormBtn > i {
        font-size: 14px;
    }

    #addFormBtn:hover {
        background-image: linear-gradient(44deg, #ff0000, #ffeb00);
        box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.4);
        transform: scale(1.04);
    }

#excelBtn {
    border: 1px solid gray;
    border-radius: 4px;
    background-image: linear-gradient(319deg, #a7a755, #8bff17);
}

    #excelBtn:hover {
        box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.4);
        transform: scale(1.04);
        background-image: linear-gradient(90deg, #ff0000, #f6f6f6);
    }

.form-control {
    float: left;
    font-size: 10px;
    width: 49%;
}


    #excelBtn > #excelIcon {
        width: 23px;
    }
.table {
    border: 1px solid #d5d5fb;
}

    .table > thead {
        font-size: 10px;
        white-space: nowrap;
    }
            .table > thead > tr > th > button > i {
                border: 2px solid violet;
            }

    .table > tbody {
        font-size: 9px;
        text-align: center;
        font-family: cursive;
    }

@media screen and (min-width:400px) {

    .container > h6 {
        font-size: 14px;
        font-family: cursive;
    }

    #iconsID {
        display: block;
    }

        #iconsID > button {
            width: 24px;
        }
}

@media screen and (min-width:550px) {
    
    .table > thead {
        font-size: 11px;
        font-family: 'FontAwesome';
    }
}

@media screen and (min-width:620px) {
    
    #tableBody {
        font-size: 10px;
    }

    .form-control {
        float: left;
        font-size: 11px;
        width: 49%;
    }
}

@media screen and (min-width:641px) 
{
    .form-control {
        font-size: 10px;
        width: 52%;
    }

    #addFormBtn {
        border-radius: 7px;
    }

    #excelBtn {
        border-radius: 7px;
    }

    .table > thead {
        font-size: 9px;
        font-family: 'FontAwesome';
    }

    tableBody {
        font-size: 9px;
    }

    #iconsID > button {
        width: 22px;
    }

    .container > h6 {
        font-size: 12px;
        font-family: cursive;
    }
}

@media screen and (min-width:700px) {

    .table > thead {
        font-size: 10px;
        font-family: 'FontAwesome';
    }
}

@media screen and (min-width:830px) 
{
    #addFormBtn {
        border-radius: 6px;
        padding: 5px;
    }

        #addFormBtn > i {
            font-size: 15px;
        }

    #excelBtn {
        border-radius: 8px;
    }

        #excelBtn > #excelIcon{
            width: 24px;
        }

    .form-control {
        font-size: 11px;
        width: 46%;
    }

    .table > thead {
        font-size: 11px;
        font-family: cursive;
    }

    #iconsID > button {
        width: 23%;
    }

        #iconsID > button > i {
            font-size: 12px;
            margin-top: 3px;
        } 
}

@media screen and (min-width:900px) {
    .container > h6 {
        font-size: 14px;
    }

    #addFormBtn {
        border-radius: 6px;
        padding: 5px;
        width: 10%;
    }

    #excelBtn {
        border-radius: 8px;
        width: 10%;
    }

    .form-control {
        font-size: 12px;
        width: 50%;
    }

    #tableBody {
        font-size: 10px;
    }
}

@media screen and (min-width:1100px) {

    .table-primary > tr > th > i {
        cursor:pointer;
    }

        .table-primary > tr > th > i:hover {
            transform: scale(1.5);
            color:orangered;  
        }

        .container > h6 {
            font-size: 18px;
        }
    #addFormBtn {
        border-radius: 6px;
        padding: 6px 0px 2px 5px;
        width: 10%;
        height: 40px;
    }

        #addFormBtn > i {
            font-size: 20px;
        }

    #excelBtn {
        border-radius: 8px;
        width: 10%;
        height: 40px;
    }

        #excelBtn > #excelIcon {
            width: 30px;
        }

    .form-control {
        font-size: 14px;
        width: 55%;
    }

    .table > thead {
        font-size: 13px;
        font-family: cursive;
    }

    #tableBody {
        font-size: 13px;
    }

    #iconsID {
        display: flex;
        justify-content: space-evenly;
    }

    #iconsID > button {
        width: 28%;
        height: 29px;
    }

        #iconsID > button > i {
            font-size: 16px;
            margin-top: 3px;
        }     
}
