.container {
    width: 100%;
}

.buttonTable {
    display: flex;
    justify-content: space-between;
}

#addFormBtn {
    border: 1px solid gray;
    width: 29px;
    height: 31px;
}

#excelIcon {
    border: 1px solid gray;
    height: 26px;
    width: 25px;
}

.form-control {
    float:left;
    font-size: 10px;
    width: 30%;
    /*margin-right:5px;*/
}

#excelBtn {
    border: 1px solid gray;
}

.table-bordered{
    border:2px solid red;
}

.table-bordered > thead {
    font-size: 10px;
    white-space: nowrap;
}

    .table-bordered > thead > tr > th {
    }

        .table-bordered > thead > tr > th > button > i {
            border: 2px solid violet;
        }

.table-bordered > tbody {
    font-size: 12px;
}
