@page "/editFormPage";
@*@page "/editFormPage/{Id:int}"*@
@using IT_Inventory_Project.Data


<h3>EditForm</h3>
<p>@Id</p>

<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">Page</h3>
</div>

<EditForm Model="@GetAll"  OnValidSubmit="CreateNewData">
 
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Dev</label>
        <InputText type="text" class="form-control" placeholder="Token Key"
                     aria-describedby="basic-addon1" @bind-Value="GetAll.Token">
        </InputText>
        <ValidationMessage For="()=>GetAll.Token"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Dev</label>
        <InputNumber type="text" class="form-control" placeholder="Token Key"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.DevId">
        </InputNumber>
        <ValidationMessage For="()=>GetAll.DevId"></ValidationMessage>
    </div>

    
<label for="exampleFormControlInput1" class="form-label">Select Device Type</label>
  <div class="mb-3">
    <InputSelect class="form-select" @bind-Value="GetAll.DevType"
    aria-label="Default select example">  
    @foreach(var option in DeviceOptions)
    {
        <option value="@option.OptionValue">@option.OptionName</option> 
    }
</InputSelect>
    <ValidationMessage For="()=>GetAll.DevType"></ValidationMessage>
    </div>
    

    <div class="mb-3">
        <label for="exampleFormControlInput1" 
               class="form-label">Device Type Other
        </label>
        <InputText type="text" 
                   class="form-control" 
                   placeholder="Enter Your Device Type Other(If Any). Write NA if none.."
                   aria-describedby="basic-addon1" 
                   @bind-Value="GetAll.DevTypeOther">
        </InputText>
        <ValidationMessage For="()=>GetAll.DevTypeOther"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device Make</label>
        <InputText type="text" class="form-control" placeholder="Enter Your Device Make"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.Make">
        </InputText>
        <ValidationMessage For="()=>GetAll.Make"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device Model</label>
        <InputText type="text" class="form-control" placeholder="Enter Your Device Model"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.Model">
        </InputText>
        <ValidationMessage For="()=>GetAll.Model"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device Owner</label>
        <InputText type="text" class="form-control" placeholder="Enter Your Device Owner"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.Owner">
        </InputText>
        <ValidationMessage For="()=>GetAll.Owner"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device Location</label>
        <InputText type="text" class="form-control" placeholder="Enter Your Device Location"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.Location">
        </InputText>
        <ValidationMessage For="()=>GetAll.Location"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device Serial</label>
        <InputText type="text" class="form-control" placeholder="Enter Your Device Serial Number"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.Serial">
        </InputText>
        <ValidationMessage For="()=>GetAll.Serial"></ValidationMessage>
    </div>


    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Device PurchaseDate</label>
    <InputDate type="date" class="form-control" placeholder="Enter Your Device PurchaseDate"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.PurchaseDate">
    </InputDate>
        <ValidationMessage For="()=>GetAll.PurchaseDate"></ValidationMessage>
    </div>

    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Device WarrantyExpDate</label>
        <InputDate type="date" class="form-control" placeholder="Enter Your Device WarrantyExpDate"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.WarrantyExpDate">
    </InputDate>
        <ValidationMessage For="()=>GetAll.WarrantyExpDate"></ValidationMessage>
    </div>

    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Device Service Expiry Date</label>
        <InputDate type="date" class="form-control" placeholder="Enter Your Device Service Expiry Date"
            aria-describedby="basic-addon1" @bind-Value="GetAll.ServiceExpDate">
        </InputDate>
        <ValidationMessage For="()=>GetAll.ServiceExpDate"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device Value</label>
        <InputNumber type="text" class="form-control" placeholder="Enter Your Device Value"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.Value">
        </InputNumber>
        <ValidationMessage For="()=>GetAll.Value"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device Size</label>
        <InputNumber type="text" class="form-control" placeholder="Enter Your Device Size"
                     aria-describedby="basic-addon1" @bind-Value="GetAll.Size">
        </InputNumber>
        <ValidationMessage For="()=>GetAll.Size"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device Toner</label>
        <InputNumber type="text" class="form-control" placeholder="Enter Your Device Toner"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.Toner">
        </InputNumber>
        <ValidationMessage For="()=>GetAll.Toner"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device MAC Address</label>
        <InputText type="text" class="form-control" placeholder="Enter Your Device MAC Address"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.MacAddress">
        </InputText>
        <ValidationMessage For="()=>GetAll.MacAddress"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device IP Address</label>
        <InputText type="text" class="form-control" placeholder="Enter Your Device IP Address"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.IPAddress">
        </InputText>
        <ValidationMessage For="()=>GetAll.IPAddress"></ValidationMessage>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Device CellPhone Number</label>
        <InputText type="text" class="form-control" placeholder="Enter Your Device CellPhone Number"
                   aria-describedby="basic-addon1" @bind-Value="GetAll.CellNumber">
        </InputText>
        <ValidationMessage For="()=>GetAll.CellNumber"></ValidationMessage>
    </div>

<div class="form-group py-2">
                <button class="btn btn-primary">Go Back</button>
        <NavLink href="Pages/Project/Services/placeholderData" class="btn btn-secondary">Back to Index</NavLink>
</div>

    
</EditForm>

@code {

    Device_GetAll GetAll = new Device_GetAll();
   
    public async Task CreateNewData()
    {

    }

    List<DeviceTypeOptions> DeviceOptions = new List<DeviceTypeOptions>()
    {
        new DeviceTypeOptions() {  OptionName = "Select...", OptionValue = " " },
        new DeviceTypeOptions() {  OptionName = "Laptop/Desktop", OptionValue = "1" },
        new DeviceTypeOptions() {  OptionName = "Misc", OptionValue = "2" },
        new DeviceTypeOptions() {  OptionName = "Mobile Phone", OptionValue = "3" },
        new DeviceTypeOptions() {  OptionName = "Monitor", OptionValue = "4" },
        new DeviceTypeOptions() {  OptionName = "Polycom", OptionValue = "5" },
        new DeviceTypeOptions() {  OptionName = "Printer", OptionValue = "6" },
        new DeviceTypeOptions() {  OptionName = "Serv er", OptionValue = "7" },
    };

    [Parameter]
    public int Id { get; set; }

}
